<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mazos
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="newDeck()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadDecks($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let deck of decks" detail (click)="openDeck(deck)">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>{{deck.name}}</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
